#clockContainer{
    position:relative;
    margin:auto;
    
    background-color: red;
    height:40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour,#minute,#second{
 position:absolute;
 background: black;
 border-radius: 10px;
 transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 25%;
    top:25%;
    left:48.7%;
    opacity: 0.8;
    /* display: none; */
}
#minute{
    width: 1.4%;
    height: 30%;
    top:20%;
    left:48.9%;
    opacity:0.8;
    /* display: none; */
}
#second{
    width: 1%;
    height: 40%;
    top:10%;
    left:49.1%;
    opacity:0.8;
    /* display: none; */
}